.light-mode {
  --dash-bg: #9ca6d7;
  --dash-col: #2b3375;
  --even: rgba(85, 17, 245, 0.342);
  --problem-col: #b4c6f8;
  --hover-col: rgb(115, 177, 235);
  --tag-bg: #b7a4fa;
  --tag-col: #040c35;
}

.dark-mode {
  --dash-bg: #040e45;
  --dash-col: #01b5b5;
  --problem-col: #c4d2fa;
  --even: rgb(6, 6, 92);
  --hover-col: rgb(93, 164, 245);
  --tag-bg: #93c1f3;
  --tag-col: #042433;
}

.problem-header {
  display: flex;
  height: 2.5rem;
  width: 100%;
  color: var(--dash-col);
  background-color: var(--dash-bg);
}

.edit {
  width: 4%;
}
.problemTitle {
  width: 45%;
  font-size: 1.1rem;
  font-family: "Madimi One", sans-serif;
  padding-top: 0.4rem;
  padding-left: 2rem;
}
.problemTags {
  width: 37%;
  font-size: 1.1rem;
  font-family: "Madimi One", sans-serif;
  padding-top: 0.4rem;
  padding-left: 5px;
}
.problemDifficulty {
  font-size: 1.1rem;
  font-family: "Madimi One", sans-serif;
  padding-top: 0.4rem;
  padding-left: 1px;
}

.problem-container {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-left: none;
  border-right: none;
}

.even {
  background-color: var(--even);
}

.editBtn {
  height: 100%;
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editBtn button {
  height: 100%;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 1rem;
}

.editBtn button i {
  color: var(--problem-col);
  font-size: 1.3rem;
}

.problem-name {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-family: "Madimi One", sans-serif;
  color: var(--problem-col);
}

.problem-name a {
  cursor: pointer;
}

.problem-name a:hover {
  color: var(--hover-col);
}

.problem-tags {
  display: flex;
  width: 37%;
}

.problem-tag {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.tags {
  height: 1.2rem;
  /* width: var(--width); */
  padding: 10px;
  background-color: var(--tag-bg);
  color: var(--tag-col);
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 0.8rem;
  font-family: "Madimi One", sans-serif;
}

.problem-difficulty {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Madimi One", sans-serif;
  padding-left: 1px;
}

.easy {
  color: greenyellow;
}
.medium {
  color: rgb(240, 209, 74);
}

.hard {
  color: rgb(238, 52, 52);
}
